<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="attoResearch.Dan.mapper.HostMapper">

    <!-- 모든 정보 가져오기 -->
    <select id="findAll" resultType="Host">
        select * from HOST
    </select>

    <!-- 특정 host 정보 가져오기 -->
    <select id="host_info" resultType="Host">
        select * from HOST where HNUM=#{hnum}
    </select>

    <!-- 등록된 host 수 조회 -->
    <select id="host_count" resultType="int">
        select count(*) from HOST
    </select>

    <!-- 등록 -->
    <insert id="host_insert" parameterType="Host">
        insert into HOST(name, domain, ip, date) values(#{name}, #{domain}, #{ip}, NOW())
    </insert>

    <!-- 수정 -->
    <update id="host_update" parameterType="Host">
        update HOST set NAME=#{name}, IP=#{ip}, DATE=NOW() where HNUM=#{hnum}
    </update>

    <!-- 삭제 -->
    <delete id="host_delete" parameterType="int">
        delete from HOST where HNUM=#{hnum}
    </delete>
</mapper>