<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Atto Host Update</title>
</head>
<body>
<form th:action="@{update(hnum=${host.hnum})}" method="post" style="text-align: center">
    호스트이름: <input type="text" name="name" th:placeholder="${host.name}"/>
    주소(도메인): <input type="text" name="domain" th:placeholder="${host.domain}"/>
    ip:      <input type="text" name="ip" th:placeholder="${host.ip}" disabled />
    <button type="submit">전송</button>
</form>
</body>
</html>