<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <title>Atto Host List</title>
</head>
<body>
    <div style="text-align: center; margin: 30px 0px">
        <button onclick="location.href='create'">새로운 호스트 등록</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>호스트이름</th>
                <th>상태</th>
                <th>관리</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="host : ${hostList}">
                <td><span th:text="${host.hnum}"></span></td>
                <td><span th:text="${host.name}"></span></td>
                <td><span th:if="${host.status.equals('alive')}"> <p style="color: green">●</p></span>
                    <span th:if="${host.status.equals('dead')}"><p style="color: red">●</p></span></td>
                <td><a th:href="@{info(hnum=${host.hnum})}">자세히</a>/
                    <a th:href="@{update(hnum=${host.hnum})}">수정</a>/
                    <a th:href="@{delete(hnum=${host.hnum})}">삭제</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>